/* ----- ----- Fuentes ----- ----- */
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Comic Neue', serif;

/* ----- ----- Espaciados ----- ----- */
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 6,
    7: $spacer * 9,
    8: $spacer * 18,
);

// $enable-cssgrid: true;

/* ----- ----- Colores ----- ----- */
$primary: #2458a2;
$secondary: #0084fe;
$terciary: #2f3a4d;
